#main {
	max-width: 100%
	padding: 20px 20px;
	margin: 10px 10px;
	border-radius: 6px;
	background: #DEB887;
}

#title {
	margin: 0;
	text-align: center;
	font-size: 40px;
	color: #2F4F4F;
}

hr {
	width: 60%;
	height: 3px;
	background-color: white;
	border-radius: 50%;
	transform: rotate(1deg);
}

#main section #small {
	padding: 10px 10px 10px 25%;
	font-size: 10px;
	color: white;
}

#img-div {
	padding: 15px 5px 5px 5px;
	text-align: center;
	background-color: white ;
	border: 1px solid white;
	border-radius: 6px;
}	

#image {
	border-radius: 3px;
	max-width: 100%;
}

#timeline {
	padding: 10px 50px 10px 50px;
	margin: 20px;
	text-align: center;
}

#tribute-info {
	padding: 10px 50px 10px 50px;
	margin: 20px;
}

#tribute-link {
	text-align: center;
	border-top: 1px solid white;
}	

